
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

body {

  color: black; 
}


.social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    color: #fff;
    border-radius: 100%;
    font-size: 1.5rem;
    margin-right: 1.5rem;
}

.social-icons .social-icon:last-child {
margin-right: 0;
}

.social-icons .social-icon:hover {
background-color: #bd5d38;
}

#cardSizing {
  flex: 0 0 33.3333333%;
  /* max-width: 33.3333333%; */
  position: relative;
  width: 100%;
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  display: flex;
}